.slogan{
    display: flex;
    height: 100vh;
    height: 200px;
    background-color: #f0efef;
    justify-content: center;
    align-items: center ;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 25px;
    font-stretch: normal;
    flex-direction: column;


}
.btnSubmit{
    margin: 10px 0px;
}