.headerBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    font-stretch: normal;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 53px;



}
.headerTitle{
    font-weight: 500;
 text-align: center;



}
.line{
    height: 1px;
    width:55px;
    background-color: #ea548d;

}
@media screen and (max-width:600px){
    .headerTitle{
        font-size: 21px;
        line-height: 0.2;
        letter-spacing: 4px;
    }
    }
