
.skill{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.skillIcon{
    height: 80px;
    width:80px;
    background-color: #eee;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);
    margin-bottom: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillIcon img{
    transform: rotate(-45deg);
    width:55%;
}
.skillTitlel{
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0;
    font-size: 16px;

}
.descriptionSkill{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
@media screen and (max-width:600px){
    .skill{
        width: 100%;

    }
}
@media screen and (max-width:1130px){
    .skill{
         width: 500px;
    }
}
@media screen and (max-width:630px){
    .skill{
        width: 100%;
    }
}