
.project {
    margin-bottom: 40px;
    width: 500px;
    background-color: #f0efef;
    display: flex;
    flex-direction: column;
    height: max-content;
    position: relative;

}


.progectIcon {
    height: 300px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../assets/img/todolist.jpg);
    background-size: cover;
    background-position: center;
    /*filter:blur(3px);*/
}
.progectIcon:before{
    content:''  ;
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 300px;
    background-color: #f0efef;
    opacity:0.5;


}
.btnShow{
    width: 150px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}
.projectTitle{
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px 15px 10px;
    font-size: 16px;
}
.progectDescription{
    margin: 0 15px 20px;
}

